@media (max-width: 1023px) and (orientation: landscape) {
    
    .touchControl{
        display: flex !important;
    }

    #canvas {

        width: 54vw !important;
    }

    .gamescreen {
        height: 64vh;
        width: 56vw;
    }

    .startScreen {
        height: 64vh;
    }

    #footerid {
        border-radius: 16px;
        margin: 8px;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .startGameBtn {
        font-size: 34px;
        width: 177px;
        height: 40px;
        margin-top: 18px;
        font-family: 'ModernoEspanol';
        background-color: black;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 80px;
    }

    .instruction {
        height: 386px;
        width: 720px;
    }

    .instructionDetails p {
        font-size: 28px;
    }

    .touchIcon {
        height: 30px;
        width: 30px;
    }

    .closeBtn {
        font-size: 16px;
        border-radius: 50%;
        font-weight: bold;
        background-color: sandybrown;
        height: 26px;
        width: 26px;
        cursor: pointer;
        color: black;
    }

    .policy {
        display: none;
        justify-content: center;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        overflow-y: auto;
        padding: 16px;
        height: 324px;
        width: 720px;
        background-color: rgba(0, 0, 0, 0.8);
        color: silver;
    }

    h4 {
        margin: 0;
    }

    .gameoverscreen {
        height: 64vh !important;
        width: 56vw;
    }

    .continueBtn {
        color: #d27a07;
        margin: 5px;
        font-family: 'ModernoEspanol';
        font-size: 32px;
        font-weight: 500;
        width: 120px;
        background-color: black;
        border-radius: 8px;
        cursor: pointer;
    }

    .mainMenuBtn {
        color: #d27a07;
        margin: 5px;
        font-family: 'ModernoEspanol';
        font-size: 32px;
        width: 120px;
        font-weight: 500;
        background-color: black;
        border-radius: 8px;
        cursor: pointer;
    }

    .winningScreen {
        height: 64vh !important;
        width: 56vw;
    }

    h3 {
        font-size: 30px;
        margin: 0;
    }

    .playAgainBtn {
        color: #d27a07;
        margin: 10px;
        font-family: 'ModernoEspanol';
        font-size: 32px;
        width: 120px;
        background-color: black;
        border-radius: 8px;
    }

    .winMainMenuBtn {
        color: #d27a07;
        margin: 10px;
        font-family: 'ModernoEspanol';
        font-size: 32px;
        width: 120px;
        background-color: black;
        border-radius: 8px;
    }


}

@media (max-width: 886px) {

    .startScreen {
        height: 64vh;
        width: 80vw;
    }

    #footerid {
        width: 600px;
        border-radius: 16px;
        margin: 8px;
        height: 40px;
        margin-top: 5px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .policy {
        display: none;
        justify-content: center;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        overflow-y: auto;
        padding: 16px;
        height: 324px;
        width: 560px;
        background-color: rgba(0, 0, 0, 0.8);
        color: silver;
    }

    .instruction {
        margin-top: 81px;
        display: none;
        justify-content: space-around;
        height: 386px;
        width: 588px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 4px 4px 20px black;
        border-radius: 8px;
        color: silver;
    }
}

@media (orientation: portrait) {
    .orientationWarning {
        position: fixed;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;

    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .touchControl {
        display: flex;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {

    #canvas {
        margin-top: 60px;
        width: 54vw !important;
    }

    .ImgDiv {
       display: none;
    }

    #footerid {
        padding-bottom: 42px;
        width: 600px;
        border-radius: 16px;
        margin: 8px;
        height: 40px;
        margin-top: 5px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .footerIcons {
        background-color: sandybrown;
        padding: 10px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        cursor: pointer;
        border: 2px solid black;
        box-shadow: 4px 4px 20px black;
        display: flex;
        justify-content: center;
    }

    .instruction {
        margin-top: 0px;
        display: none;
        justify-content: space-around;
        height: 248px;
        width: 517px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 4px 4px 20px black;
        border-radius: 8px;
        color: silver;
    }

    .startScreen {
        padding-top: 70px;
        height: 64vh;
        width: 75vw;
    }

    .touchIcon {
        height: 30px;
        width: 26px;
    }

    .touchControl {

        height: 200px;
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        box-shadow: 4px 4px 20px sandybrown;
        border-radius: 8px;
        margin: 10px;
        margin-top: 60px;
        background-color: navajowhite;
        padding: 8px;
    }

    .policy {
        display: none;
        justify-content: center;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        overflow-y: auto;
        padding: 16px;
        height: 208px;
        width: 484px;
        background-color: rgba(0, 0, 0, 0.8);
        color: silver;
    }

    .startGameBtn {
        font-family: 'ModernoEspanol';
        color: #d27a07;
        justify-content: center;
        font-size: 27px;
        width: 168px;
        height: 34px;
        margin-bottom: 60px;
        background-color: black;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .gameOverScreen {
        margin-top: 55px;
        background-image: url(./img/img/youLoseIMG.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 285px;
        width: 511px;
        display: flex
    ;
        position: relative;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.3);
    }

}